.game {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #E5EED3;
}

.game-arrow {
    height: 40%;
    width: 40%;
    object-fit: contain;
}

.ArrowLeft {
    transform: rotate(90deg);
}

.ArrowUp {
    transform: rotate(180deg);    
}

.ArrowRight {
    transform: rotate(270deg);    
}

.ArrowDown {
    transform: rotate(0deg);    
}